@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie List";
    ViewData["Header"] = ViewData["Title"];
}

@model List<MovieEntry>

<table class="table table-bordered table-striped text-center" style="width:100%;">
    <thead style="font-weight:bold;font-size:larger;border-width:3px;">
        <tr style="border-color:black;border-bottom:3px;">
            <td>
                Category
            </td>
            <td>
                Title
            </td>
            <td>
                Year
            </td>
            <td>
                Director
            </td>
            <td>
                Rating
            </td>
            <td>
                Edited
            </td>
            <td>
                Lent To
            </td>
            <td>
                Notes
            </td>
            <td>
                Edit
            </td>
            <td>
                Delete
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.Category.CategoryName</td>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            @if(x.LentTo == null || x.LentTo == "")
            {
                <td>-</td>

            }
            else
            {
                <td>@x.LentTo</td>
            }
            @if (x.Notes == null || x.Notes == "")
            {
                <td>-</td>

            }
            else {
            <td>@x.Notes</td>}
            <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
